* {
  margin: 0;
  padding: 0;
}

img {
  align-items: center;
  width: 100%;
  height: 450px;
  display: block;
}

main {
    min-height: 1000px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/fundo_index4.jpg");
}


.btn.btn-primary {
    display: flex;
    
    position: absolute;
    bottom: 90px;
    left: 44%;
    background: #b30000;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 40px;
    border-color: #b30000;
}